


#signin {
	width: 500px;
	margin:0 auto;
	margin-top: 50px;
	margin-bottom: 100px;
}

#create_account {
	width: 500px;
	margin:0 auto;
	margin-top: 50px;
	margin-bottom: 100px;
}

@media (max-width: 676px) {
	#signin {
		width: 100%;
		margin:0 auto;
		margin-top: 50px;
		margin-bottom: 10px;
	}
	#create_account {
		width: 100%;
		margin:0 auto;
		margin-top: 50px;
		margin-bottom: 10px;
	}
}